<div style="font-size:1.6rem">
  <a href="/">home</a>
  <% crumbs.each do |crumb| %>
  &gt;
  <a href="<%= crumb.url %>"><%= crumb.name %></a>
  <% end %>
</div>
<ul style="list-style:none;padding-left:0">
<% links.each do |link| %>
  <li>
    <% if link.date %>
    <span style="font-family:monospace;color:gray"><%= link.date.strftime("%Y-%m-%d") %>&nbsp;</span>
    <% end %>
    <a href="<%= link.url %>"><%= link.title %></a>
  </li>
<% end %>
</ul>
